* {
    margin: 0;
    padding: 0;
}

/*********flex********/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

/********fonte********/

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    color: #000000;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 0.75em;
    color: #282828;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #282828;

}

p {
    font-family: 'Open Sans', sans-serif;
    color: #282828;
    padding: 0.2em;
}

li {
    font-family: 'Open Sans', sans-serif;
    color: #282828;
    padding: 0.2em;
}

/*******fonte slut*********/

/*******Baggrundsfarve********/

#om .text {
    background-color: rgba(212, 203, 203, 0.3);
    /*hex-kode: #d4cbcb*/
}

#kontakt {
    background-color: rgba(212, 203, 203, 0.3);
    /*hex-kode: #d4cbcb*/
}

/*******Baggrundsfarve slut********/

/*******video********/

.video {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

.video {
    position: relative;
    padding-bottom: 25px;
    padding-top: 25px;
}
